.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 40px;
}

.btnsSection {
  margin: 50px;
}

.btn,
.btnDisabled {
  padding: 8px 25px;
  border-radius: 50px;
  background-color: #141c3a;
  margin: 25px 10px;
  text-align: center;
  font-family: "Alkatra-Regular";
  font-size: 18px;
  color: white;
  transition: all 0.2s ease-in-out;
  border: 1px solid #141c3a;
}
.btn:hover {
  color: #141c3a;
  background-color: white;
  cursor: pointer;
}

.btnDisabled {
  background-color: #dddddd;
  color: #666666;
  border: 1px solid #dddddd;
}
.btnDisabled:hover {
  cursor: pointer;
}

.form {
  margin: 20px 0;
}

.formTitle {
  color: #141c3a;
  text-align: center;
  font-family: "Alkatra-Regular";
  font-size: 24px;
  margin: 10px 0 30px 0;
}

.textField {
  margin: 10px auto;
}

.errorText {
  color: rgb(185, 18, 18);
  font-family: "Alkatra-Regular";
  font-size: 16px;
}

.loader {
  color: darkgreen;
  font-family: "Alkatra-Regular";
  font-size: 16px;
  text-align: center;
  margin: 10px 0;
}

.userInfo {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userName {
  color: #141c3a;
  font-family: "Alkatra-Regular";
  font-size: 18px;
}

.userRoll {
  color: #243165;
  font-family: "Alkatra-Regular";
  font-size: 14px;
  margin-top: -10px;
}

.company {
  box-shadow: 2px 2px 5px #aaaaaa;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  margin: 15px 10px;
}

.rdContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.rdInnerContainer1,
.rdInnerContainer2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.rdInnerContainer2 {
  align-items: flex-end;
}

.companyName {
  color: #141c3a;
  font-family: "Alkatra-Regular";
  font-size: 18px;
}

.companyProfile {
  color: #243165;
  font-family: "Alkatra-Regular";
  font-size: 15px;
  margin: 15px 0;
}

.rdTitle {
  color: #6e07f3;
  font-family: "Alkatra-Regular";
  font-size: 15px;
}

.rd {
  color: #243165;
  font-family: "Alkatra-Bold";
  font-size: 16px;
}

.backArrow {
  width: 70%;
  margin-bottom: 20px;
}

.desc {
  color: darkgreen;
  font-family: "Alkatra-Regular";
  font-size: 16px;
}
